# Build (Maven)
target/
*.class

# IDE - IntelliJ
.idea/
*.iml
*.iws
out/

# IDE - VS Code
.vscode/

# IDE - Eclipse
.classpath
.project
.settings/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Variáveis de ambiente locais
.env
